.App {
  max-width: 500px;
  margin: 0 auto;
}

form {
  padding: 16px;
}

.newTodo-textfield{
  padding: 20px;

}

.small-space {
  padding: 0 8px;
}

.login-card {
  margin: 15px auto;
}

.login-buttons {
  display: flex;
  justify-content: space-around;
}
